In [2]:
print('Hello There...')
print('My name is SHRIPAD KALE')

Hello There...
My name is SHRIPAD KALE

In [3]:
# Comments  in python
print("Is the above comment visible?")

Is the above comment visible?

In [4]:
print("Comments are just used for refernce purpose.")
print("Comments are never executed")

Comments are just used for refernce purpose.
Comments are never executed

# What are Datatypes and Objects

In [5]:
print("Datatypes are nothing but they are just a container which holds the data.")

Datatypes are nothing but they are just a container which holds the data.

In [6]:
x=20
y=20.0
z="20.0"
print("X is an integer var ",x)
print("Y is an float var ",y)
print("Z is an string var ",z)

X is an integer var  20
Y is an float var  20.0
Z is an string var  20.0

In [8]:
print("Integer(int) is an Datatype which holds numerical values like 1,10....n")
print("Float(float) is the datatype which holds decimal values like 1.0, 200.0...n")
print("String(str) datatype holds strings enclosed in double quotes")
print("List is an object in python which holds different types of values")
print("List is an ordered sequence of different type values")
print("List is an simple series of words or numerals")

Integer(int) is an Datatype which holds numerical values like 1,10....n
Float(float) is the datatype which holds decimal values like 1.0, 200.0...n
String(str) datatype holds strings enclosed in double quotes
List is an object in python which holds different types of values
List is an ordered sequence of different type values
List is an simple series of words or numerals

In [12]:
x= 200
y= 500
z=x+y
print("Integer sum : ",z)

Integer sum :  700

In [11]:
a=40.0
b=45.0
c=a+b
print("Float sum : ",c)

Float sum :  85.0

In [13]:
strinz="Hi there..."
print(strinz)

Hi there...

In [14]:
#Check the type of data
type(strinz)

str

In [18]:
type(c)

float

In [19]:
type(z)

int

 # Advanced Datatypes

In [6]:
 listx=["hello",45,45.0]
print(listx)
listx[2]

['hello', 45, 45.0]

45.0

In [25]:
demolist=[[1,4,7],[32,56],[13,0,90,99]]
demolist[1][1]

56

In [43]:
listx.append(2)
print(listx)

[5, 2]

In [57]:
listx.insert(1,7)
print(listx)

[5, 7, 7, 7, 7, 2]

In [62]:
listx.count(7)
#print(listx)

4

In [61]:
listx.copy()
print(listx)

[5, 7, 7, 7, 7, 2]

In [63]:
listx.pop(3)

7

In [66]:
listx.sort()
print(listx)

[2, 5, 7, 7, 7]

In [67]:
listx.reverse()
print(listx)

[7, 7, 7, 5, 2]

In [70]:
listx.remove(7)
print(listx)

[7, 5, 2]

In [75]:
listx.index(5)
#print(listx)

1

# Dictionaries in Python

In [2]:
print("Dictionaries are unorderd 'key' and 'value' pair")

Dictionaries are unorderd 'key' and 'value' pair

In [3]:
programmers={"java":"JamesGosling","Python":"GuidoVanRossum","C#":"AndersHejlsberg","CPP":"BJarneStroustrup","C":"DennisRitchie"}

In [4]:
type(programmers)

dict

# Sets in Python

In [10]:
print("Sets are unorderd pair of elements and does not print duplicate elements")
x={12,45,78,46,32,22,12}
print(x)

Sets are unorderd pair of elements and does not print duplicate elements
{32, 12, 45, 46, 78, 22}

# Tuples

In [11]:
print("Immutable sequence of Objects : Tuples")
print("Same as Lists but difference is")
print("List is mutable(we can change the contents)")
print("Tuples is mutable(we can't change the contents)")

Immutable sequence of Objects : Tuples

In [16]:
print("For Ex.")
tupleX=(1994,"Latur","Maharashtra")
tupleX.count(1994)

For Ex.

0

In [18]:
tupleX.index("Maharashtra")

2

# Boolean in Python

In [4]:
#split() demo

lst=[1,2,3,4,5]
lst=list.split()
print(lst)

AttributeError: type object 'list' has no attribute 'split'