In [1]:
import os
os.getcwd()

'/home/shree/SK_LUFCS_PY_DAY1'

In [2]:
1+5

6

In [3]:
2*5

10

In [9]:
#Python simple code to swap two number's
a=25
b=56
a=a+b
b=a-b
a=a-b
print("Swapped value of A & B are as below")
print("A = ",a," B = ",b)

Swapped value of A & B are as below
A =  56  B =  25

In [8]:
x=23
y=56
c=x
x
y
#c

56

In [15]:
print(type(a))
type(a)

<class 'int'>

int

In [14]:
aa=78+45j
print(type(aa))
type(aa)

<class 'complex'>

complex

In [13]:
stringx="Hello"
type(stringx)

str

In [18]:
w=1,25,00
print(w)
print(type(w))

(1, 25, 0)
<class 'tuple'>

In [23]:
my_string="Welcome to the world of Python"
print(my_string[3:10])

come to

In [25]:
#Print only "Pyth"
print(my_string[24:28])

Pyth

In [26]:
#Forward slicing/indexing
strx="Hello Python"
print(strx[6:10])

Pyth

In [27]:
print(strx[7])

y

In [31]:
#Backward slicing/indexing
print(strx[-6:-2])

Pyth

In [32]:
print(strx[-12:-8])

Hell

In [34]:
#PEMDAS(Paranthesis,Exponential,Multiplicaion,Division,Addition,Substraction)
4/2*6+3

15.0

In [38]:
#Exponentiation
3**5

243

In [39]:
1+1**5-2

0

In [41]:
(1+1)**5-2

30

In [42]:
4+6**(2-1)+5/1

15.0

In [43]:
"35"+"45"

'3545'

In [44]:
"35"*2

'3535'

# Typecasting

In [45]:
x=5
print(float(x))

5.0

In [48]:
d=5.000
print(int(d))

5

In [49]:
#tuple to list 
str([1,2,3])

'[1, 2, 3]'

In [51]:
#list can be converted to string
list("Shree")

['S', 'h', 'r', 'e', 'e']

In [53]:
#List is mutable
listz=[1,2,4,3,5]
print(listz)
listz[0]=5
print(listz)

[1, 2, 4, 3, 5]
[5, 2, 4, 3, 5]

In [54]:
#Tuples are immutable
tup=(1,2,5,7,9)
tup[2]=10

TypeError: 'tuple' object does not support item assignment